<div class="form">
  <div class="container">
    <div class="form-content">
      <h1 class="form-title common-title">Регистрация</h1>
      <div class="form-details">
        <div class="form-group">
          <input type="text" class="form-input" id="name" required>
          <label for="name" class="form-label">Имя</label>
        </div>
        <span class="form-error" id="name-error">Введите корректное имя</span>
        <div class="form-group">
          <input type="text" class="form-input" id="last-name" required>
          <label for="last-name" class="form-label">Фамилия</label>
        </div>
        <span class="form-error" id="last-name-error">Введите корректную фамилию</span>
        <div class="form-group">
          <input type="text" class="form-input" id="email" required>
          <label for="email" class="form-label">Электронная почта</label>
        </div>
        <span class="form-error" id="email-error">Введите корректный адрес электронной почты</span>
        <div class="form-group">
          <input type="password" class="form-input" id="password" required>
          <label for="password" class="form-label">Пароль</label>
        </div>
        <span class="form-error" id="password-error">Пароль должен содержать не менее 8 символов, включая цифры, прописные и заглавные буквы, а также специальные символы</span>
        <div class="form-agree">
          <input type="checkbox" id="agree" required>
          <label for="agree">
            Я ознакомлен <a href="#">с правилами сайта</a>
          </label>
        </div>
      </div>
      <div class="form-button">
        <button class="button" id="process" disabled>Перейти к выбору теста</button>
      </div>
      <div class="form-link">Уже зарегистрированы? <a href="/#/login">Войти</a></div>
    </div>
    <div class="form-image">
      <img src="/images/info-image.png" alt="Personage">
    </div>
  </div>
</div>